---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Button from "../components/Button/index.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="About | Alessandro Filazzola"
      description="About Alessandro Filazzola"
    />
    <style lang="scss">
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .aboutImage {
        width: 70%;
        height: auto;
      }

      .subtitle {
        font-weight: 400;
        font-size: var(--f-d6);
        letter-spacing: -0.0625em;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="./granites.jpg" />
      </div>
      <div class="bio wrapper">
        <h1>
          Alessandro Filazzola <small class="subtitle"> Ph.D. B.Sc.</small>
        </h1>
        <div class="index-about">
          <div class="text-wide">
            <p>
              I am a data scientist and quantitative ecologist working at <a
                href="https://apexrms.com/"
              >
                ApexRMS.
              </a> I enjoy finding new data sources or approaches to improve our
              ability to manage and conserve biodiversity. My experience is in extreme
              value theory, machine learning, linear mixed modelling, predictive
              modelling, and multidimensional analyses.
            </p>
            <br />
            <p>
              I recently finished working at the <a
                href="https://www.utm.utoronto.ca/cue/welcome"
              >
                Center for Urban Environments</a
              >
              in partnership with local conservation authorities. There I explored
              how urban biodiversity is impacted by land development and climate
              change. I have also worked as a data scientist at <a
                href="http://www.yorku.ca/index.html"
              >
                York University
              </a> exploring the effects of climate variation on lake ice and water
              quality. I completed a Killam post-doctoral fellowship in 2019 at <a
                href="https://www.ualberta.ca/index.html"
              >
                University of Alberta
              </a> examining the effects climate change on alpine butterflies and
              domestic grazing on native biodiversity. I received both my PhD (2018)
              and BSc (2012) at York University testing how desert plants respond
              to extreme climates.
            </p>
          </div>

          <div class="w-full h-[70vh] mx-auto">
            <img
              class="max-h-full max-w-full min-w-0 min-h-0"
              src="./AfilazzolaAbout.jpg"
            />
          </div>
        </div>
        <br />
        <div class="index-about">
          <div class="w-full h-[60vh] mx-auto">
            <img
              class="max-h-full max-w-full min-w-0 min-h-0"
              src="./AfilazzolaAbout2.jpg"
            />
          </div>
          <div class="text-wide">
            <p>
              I have worked as a research coordinator with the <a
                href="https://climateconnections.ca/"
              >
                Ontario Climate Consortium (OCC)
              </a> and <a href="https://www.nature.org/">
                The Nature Conservancy (TNC)
              </a>. At the OCC I collaborated with local municipalities to
              develop an adaptation plan to climate change. My time with the TNC
              I provided recommendations for the strategic retirement of
              agricultural land to preserve endangered species in California.
            </p>
            <br />
            <p>
              Most of my research analysis and workshop resources can be found
              at <a href="https://github.com/afilazzola"> my GitHub page</a>. If
              you are working on a project that could benefit from my expertise,
              especially anything with habitat suitability modelling, land cover
              classification of aerial images, or anonymized human movement
              data, please reach out to me to discuss more!
            </p>
            <br />
            <a href="/contact">
              <Button>Contact</Button>
            </a>
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
