---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Footer from "../components/Footer/index.jsx";
import SkillSets from "../components/Skills/index.jsx";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Alessandro Filazzola: Personal Site"
      description="Data scientist at ApexRMS."
    />
    <style lang="scss">
      $w-s: 750px;

      .hero {
        position: relative;
        overflow: hidden;

        @media (min-width: $w-s) {
          height: 45vw;
        }
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .gradient,
      .gradient2 {
        background-image: url("/assets/mesh-gradient.jpg");
        background-size: cover;
        pointer-events: none;
        mix-blend-mode: screen;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .gradient2 {
        mix-blend-mode: multiply;
        background-size: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;

        @media (min-width: $w-s) {
          padding-left: 4rem;
        }
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u8);
        margin-bottom: 0.5rem;
        margin-top: 0;
        color: var(--c-black);

        @media (min-width: $w-s) {
          font-size: var(--f-u12);
        }
      }

      .grid {
        display: grid;
        grid-gap: 2rem;

        @media (min-width: 1200px) {
          grid-template-columns: 2fr 1fr;
        }
      }

      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .role {
        position: relative;
        display: inline-block;
        font-weight: 900;
        color: var(--c-lgray);
        background-color: var(--c-black);
        padding: 0.25em 0.5em;
        z-index: 2;

        @media (min-width: $w-s) {
          font-size: var(--f-u3);
        }

        + .role {
          margin-left: 1em;
        }

        &:nth-of-type(1) {
          .invert {
            background-color: var(--c-blue);
            color: var(--c-black);
          }
        }

        &:nth-of-type(2) {
          .invert {
            background-color: var(--c-pink);
            color: var(--c-black);
          }
        }

        &:nth-of-type(3) {
          .invert {
            background-color: var(--c-orange);
            color: var(--c-black);
          }
        }

        &:hover {
          .invert {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }

      .invert {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }

      .desc {
        font-size: var(--f-u2);
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .subtitle {
        display: block;
        font-weight: 400;
        font-size: var(--f-d6);
        letter-spacing: -0.0625em;
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;

        > span:first-of-type {
          line-height: 1;
          margin-bottom: 0.5em;
          display: block;
          font-weight: 700;
          font-size: var(--f-u4);
        }
      }

      .myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <video autoplay muted loop id="myVideo">
        <source src="video.mp4" type="video/mp4" />
      </video>
      <div class="gradient"></div>
      <!-- <div class="gradient2"></div> -->
      <div class="overlay">
        <h1 class="title">
          Alessandro Filazzola <small class="subtitle"
            >Data Scientist at ApexRMS</small
          >
        </h1>

        <div>
          <span class="role">
            Analytics <span class="invert"> Analytics</span>
          </span>
          &nbsp;
          <span class="role">
            Ecology <span class="invert"> Ecology</span>
          </span>
          <span class="role">
            Programming <span class="invert"> Programming</span>
          </span>&nbsp;
        </div>
      </div>
    </header>
    <main class="wrapper mt5 mb5">
      <div class="grid">
        <div class="section">
          <h2 class="sectionTitle">About</h2>
          <p class="desc">
            I am a data scientist at ApexRMS, where I forecast and model
            ecological response across time and space. Currently, I'm working on
            creating an image classifier for alpine snowpack, using anonymized
            cell phone data to understand how people use greenspaces, and
            developing a web application for ecological forecasting.
          </p>

          <a href="/about">
            <Button>More about me</Button>
          </a>
          <h2 class="sectionTitle">Skills</h2>
          <p class="desc">
            I am passionate about data science, ecology, and programming. Some
            of my skill set includes:
          </p>
        </div>
      </div>
      <SkillSets />
    </main>
    <Footer />
  </body>
</html>
