---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Nav from "../components/Nav/index.astro";
import Footer from "../components/Footer/index.jsx";
import SkillSets from "../components/Skills/index.jsx";
import ScrollInSection from "../components/AnimateScroll";
import PortfolioPreview from "../components/PortfolioPreview";
import { SEO } from "astro-seo";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <SEO
      title="Alessandro Filazzola - Home"
      description="Alessandro Filazzola is a data scientist, quantitative ecologist, and web developer. He currently works at ApexRMS and is an Adjunct Faculty at Western University in Canada."
      openGraph={{
        basic: {
          title: "Alessandro Filazzola - Home",
          type: "website",
          image: "/AfilazzolaHome.jpg",
        },
      }}
    />
    <MainHead
      title="Alessandro Filazzola: Personal Site"
      description="Data scientist at ApexRMS."
    />
    <style lang="scss">
      $w-s: 750px;

      .hero {
        position: relative;
        overflow: hidden;

        @media (min-width: $w-s) {
          height: 45vw;
        }
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .gradient {
        background: var(--c-black);
        opacity: 0.5;
        background-size: cover;
        pointer-events: none;
        mix-blend-mode: screen;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;

        @media (min-width: $w-s) {
          padding-left: 4rem;
        }
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u6);
        margin-bottom: 0.5rem;
        margin-top: 0;
        color: var(--c-orange);

        @media (min-width: $w-s) {
          font-size: var(--f-u12);
        }
      }

      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .role {
        position: relative;
        display: inline-block;
        font-weight: 900;
        color: var(--c-lgray);
        background-color: var(--c-black);
        padding: 0.25em 0.5em;
        z-index: 2;

        @media (min-width: $w-s) {
          font-size: var(--f-u3);
        }

        + .role {
          margin-left: 1em;
        }

        &:nth-of-type(1) {
          .invert {
            background-color: var(--c-blue);
            color: var(--c-black);
          }
        }

        &:nth-of-type(2) {
          .invert {
            background-color: var(--c-pink);
            color: var(--c-black);
          }
        }

        &:nth-of-type(3) {
          .invert {
            background-color: var(--c-orange);
            color: var(--c-black);
          }
        }

        &:hover {
          .invert {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }

      .invert {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }

      .desc {
        font-size: var(--f-u2);
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .subtitle {
        display: block;
        font-weight: 600;
        font-size: var(--f-d4);
        letter-spacing: -0.0625em;
        color: var(--c-lgray);
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;

        > span:first-of-type {
          line-height: 1;
          margin-bottom: 0.5em;
          display: block;
          font-weight: 700;
          font-size: var(--f-u4);
        }
      }

      .myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <video autoplay muted loop id="myVideo">
        <source src="alpineGrassland.mp4" type="video/mp4" />
      </video>
      <div class="gradient"></div>
      <div class="overlay">
        <h1 class="title">Alessandro Filazzola</h1>

        <div>
          <span class="role">
            Data Science <span class="invert"> Data Science</span>
          </span>
          &nbsp;
          <span class="role">
            Ecology <span class="invert"> Ecology</span>
          </span>
          <span class="role">
            Web Development <span class="invert"> Web Development</span>
          </span>&nbsp;
        </div>
      </div>
    </header>
    <main class="wrapper mt5 mb5">
      <ScrollInSection client:load>
        <h2 class="sectionTitle">About</h2>
        <div class="index-about">
          <p class="desc">
            I am a data scientist and full-stack engineer at <a
              href="https://www.apexrms.com">ApexRMS</a
            >, and Adjunct Faculty in Biology at <a
              href="https://www.uwo.ca/index.html">Western University</a
            >. My work is focused on forecasting ecological responses across
            time and space with a specific interest in extreme climate events
            and sustainable development. Currently, I'm working on creating an
            image classifier for alpine snowpack, using anonymized cell phone
            data to understand how people use urban parks, and developing a web
            application for ecological forecasting.
          </p>
          <img class="w-72 mx-auto pt-4" src="./AfilazzolaHome.jpg" />
        </div>

        <div style="padding: 2em 0em 2em">
          <a href="/about">
            <Button>More about me</Button>
          </a>
        </div>
      </ScrollInSection>
      <ScrollInSection client:load>
        <h2 class="sectionTitle">Skills</h2>
        <p class="desc">
          I am passionate about data science, ecology, and programming
          including:
        </p>

        <SkillSets />
      </ScrollInSection>
      <ScrollInSection client:load>
        <h2 class="sectionTitle">Projects</h2>
        <PortfolioPreview project={featuredProject} />
        <div style="padding: 2em 0em 2em">
          <a href="/projects">
            <Button>Current projects</Button>
          </a>
        </div>
      </ScrollInSection>
    </main>
    <Footer />
  </body>
</html>
