---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Nav from "../components/Nav/index.astro";
import Footer from "../components/Footer/index.jsx";
import SkillSets from "../components/Skills/index.jsx";
import ScrollInSection from "../components/AnimateScroll";
import PortfolioPreview from "../components/PortfolioPreview";
import { SEO } from "astro-seo";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <SEO
      title="Alessandro Filazzola - Home"
      description="Alessandro Filazzola is a data scientist, quantitative ecologist, and web developer. He currently works at ApexRMS and is an Adjunct Faculty at Western University in Canada."
      openGraph={{
        basic: {
          title: "Alessandro Filazzola - Home",
          type: "website",
          image: "/AfilazzolaHome.jpg",
        },
      }}
    />
    <MainHead
      title="Alessandro Filazzola: Personal Site"
      description="Data scientist at ApexRMS."
    />
    <style lang="scss">
      $w-s: 750px;

      .hero {
        position: relative;
        overflow: hidden;
        height: 100vh; /* Full viewport height */
      }

      .myVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .gradient {
        background: var(--c-black);
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2rem;
        color: var(--c-orange);
        margin-top: -2rem;
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u11);
        margin-bottom: 0.5rem;
        margin-top: 0;
        text-shadow: 1px 1px #000000;

        @media (max-width: 640px) {
          font-weight: 800;
          font-size: var(--f-u8);
        }
      }

      .roles {
        display: flex;
      }

      .role {
        font-weight: 900;
        color: var(--c-lgray);
        font-size: var(--f-u3);
        background-color: var(--c-black);
        padding: 0.25em 0.5em;
        border-radius: 5px;
        margin-right: 1em;
        transition: background-color 0.3s ease-in-out;

        @media (max-width: 640px) {
          font-size: var(--f-u2);
        }
      }

      .role:hover {
        background-color: var(--c-orange);
      }

      .invert {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }
      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .desc {
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .subtitle {
        display: block;
        font-weight: 600;
        font-size: var(--f-d4);
        letter-spacing: -0.0625em;
        color: var(--c-lgray);
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;

        > span:first-of-type {
          line-height: 1;
          margin-bottom: 0.5em;
          display: block;
          font-weight: 700;
          font-size: var(--f-u4);
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <video autoplay muted loop id="myVideo" class="myVideo">
        <source src="alpineGrassland.mp4" type="video/mp4" />
      </video>
      <div class="gradient"></div>
      <div class="overlay">
        <h1 class="title">Alessandro Filazzola</h1>
        <div class="flex flex-col lg:flex-row lg:gap-5 gap-y-5 mt-4">
          <span class="role">Data Science</span>
          <span class="role">Quantitative Ecology</span>
          <span class="role">Web Development</span>
        </div>
      </div>
    </header>
    <main
      class="max-w-md mx-auto overflow-hidden md:max-w-6xl my-4 small-screen-padding md:text-2xl text-xl"
    >
      <ScrollInSection client:load>
        <h2 class="py-6 mx-auto text-4xl md:text-6xl font-semibold">About</h2>
        <div class="md:flex my-4 md:space-x-4">
          <div class="md:w-3/5">
            <p class="desc md:py-6 lg:py-0">
              I am a data scientist and full-stack engineer at <a
                href="https://www.apexrms.com">ApexRMS</a
              >, and Adjunct Faculty in Biology at <a
                href="https://www.uwo.ca/index.html">Western University</a
              >. My work is focused on forecasting ecological responses across
              time and space with a specific interest in extreme climate events
              and sustainable development. Currently, I'm working on creating an
              image classifier for alpine snowpack, using anonymized cell phone
              data to understand how people use urban parks, and developing a
              web application for ecological forecasting.
            </p>
          </div>
          <div class="md:w-2/5 pt-6 md:pt-4">
            <img
              class="w-72 md:w-4/5 object-cover md:h-full mx-auto"
              src="./AfilazzolaHome.jpg"
            />
          </div>
        </div>

        <div style="padding: 2em 0em 2em">
          <a href="/about">
            <Button>More about me</Button>
          </a>
        </div>
      </ScrollInSection>
      <ScrollInSection client:load>
        <h2 class="text-4xl md:text-6xl font-semibold">Skills</h2>
        <p class="desc">
          I am passionate about data science, ecology, and programming
          including:
        </p>

        <SkillSets />
      </ScrollInSection>
      <ScrollInSection client:load>
        <h2 class="sectionTitle">Projects</h2>
        <div class="md:text-base">
          <PortfolioPreview project={featuredProject} />
        </div>
        <div style="padding: 2em 0em 2em">
          <a href="/projects">
            <Button>Current projects</Button>
          </a>
        </div>
      </ScrollInSection>
    </main>
    <Footer />
  </body>
</html>
