---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.astro";
import CitationsFormatted from "../components/Citations";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <MainHead
      title="Publications"
      description="Publications by Alessandro Filazzola"
    />
    <SEO
      title="Alessandro Filazzola - Publications"
      description="A list of all recent publications by Alessandro Filazzola along with relevant citations and links."
      openGraph={{
        basic: {
          title: "Alessandro Filazzola - Publications",
          type: "website",
          image: "/Butterfly.jpg",
        },
      }}
    />
    <style lang="scss">
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .aboutImage {
        width: 70%;
        height: auto;
      }
      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <div>
      <Nav />
      <div class="wrapper">
        <h1>Publications</h1>
        <div class="heroImg">
          <img width="1400" height="350" src="/granites.jpg" />
        </div>

        <div class="bio wrapper fade-in">
          <div class="grid grid-flow-col gap-4">
            <div><CitationsFormatted /></div>
          </div>
        </div>
      </div>
      <Footer />
    </div>

    ../components/Nav/astro.js</body>
</html>
