.card {
	position: relative;
	color: var(--t-bg);
	background: var(--c-black);
	border: 1px solid #f0f0f0;
}

.title {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	color: white;
	flex-direction: column;
	font-size: var(--f-u6);
	font-weight: 800;
	letter-spacing: 0.02em;
}

@media (max-width: 768px) {
	.title {
		  font-size: 1.25rem;
		  padding-left: 1rem;
		}
	  }


.titleCard {
	position: relative;
	background-size: cover;
	background-position: 50% 100%;
	padding-top: 37.5%;
}

.desc {
	font-size: var(--f-u1);
	line-height: 1.4;
}

.link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--t-bg);
	font-size: var(--f-u2);
	font-weight: 600;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	text-decoration: none;
	transition: opacity 200ms ease;

	&:focus,
	&:hover {
		opacity: 1;

		.linkInner {
			transform: translateY(+50%);
			border-color: rgba(255, 255, 255, 0.625);
		}
	}
}

.linkInner {
	padding: 0.375em 1em;
	border: 2px solid rgba(255, 255, 255, 0);
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), border-color 300ms ease;
	transform: translateY(25%);
}

.nav {
	display: flex;
	justify-content: flex-end;
}

.tags {
	font-size: var(--f-d2);
}

.tag {
	display: inline-block;
	color: var(--c-yellow);
	font-size: 0.75rem;
	font-weight: 600;
	margin-left: 0.5em;

	&:nth-of-type(1n) {
		color: var(--c-green);
	}
	&:nth-of-type(2n) {
		color: var(--c-orange);
	}
	&:nth-of-type(3n) {
		color: var(--c-blue);
	}
	&:nth-of-type(4n) {
		color: var(--c-pink);
	}
}
