.social {
	display: block;
	margin-left: auto;

	+ .social {
		margin-left: 0.75rem;
	}
}

.socialicon {
	display: block;
	width: 1.75rem;
	height: 1.75rem;
	fill: var(--t-subdue);
	transition: fill linear 150ms;

	&:hover {
		fill: var(--t-active);
	}
}
