.social {
	display: block;
	margin-left: auto;

	+ .social {
		margin-left: 0.75rem;
	}
}

.socialicon {
	display: block;
	width: 1.75rem;
	height: 1.75rem;
	fill: var(--t-subdue);
	transition: fill linear 150ms;

	&:hover {
		fill: var(--t-active);
	}
}

.active {
	color: var(--c-orange) !important;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: var(--c-orange);
	}
}
